<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Character Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='image_generation.css') }}">
</head>

<body>
    {% include 'nav.html' %}

    {% block content %}

    <div id="form">
        <form action="/generate_design" method="POST">
            <p>Select a folder:</p>
            <div id="folders">
                {% if folders %}
                {% for folder in folders %}
                <input type="checkbox" id="{{ folder }}" name="folder_name" value="{{ folder }}">
                <label for="{{ folder }}">{{ folder }}</label>
                {% endfor %}
                {% else %}
                <p>No folders available.</p>
                {% endif %}
            </div>

            <button type="submit" name="button" value="Pressed">Generate Random Image</button>
        </form>

        <div class="image-container">
            {% if images_pulled %}
            <div class="image-stack">
                {% for img in images_pulled %}
                <img src="{{ img }}" alt="Generated Character Design"
                    style="max-width: 500px; display: block; margin: 10px 0;">
                {% endfor %}
            </div>
            {% else %}
            <p>No images found.</p>
            {% endif %}
        </div>
    </div>

    <footer>
        <p>Made for Artists by Artists ✨</p>
    </footer>

    {% endblock %}
</body>

</html>