<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    {% include 'nav.html' %}


    <div id="body">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            

            <div id="folder_name">
                <label for="folder_name_input">Folder Name</label>
                <input type="text" name="folder_name" id="folder_name_input">
            </div>


    
            <label for="name">Pick your image</label>
            <input type="file" name="image" id="image">
        
            <button type="submit">Submit</button>
        </form>

    </div>
    <footer>
        <p>Made for Artists by Artists ✨</p>
    </footer>

    
</body>
</html>